

@{
    ViewBag.Title = "Create";
}

<h2>Create Service</h2>
<form action="/Service/Create" method="POST">
    <div>
        <label>Name:</label>
        <input type="text" name="ServiceName" />
    </div>

    <div>

        <input type="submit" value="Add Service" />
    </div>
</form>