@model HospitalManagementSystem.Models.News
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<a href="/News/List">Go Back to List of News</a>
<h2>Show News</h2>
<h3>News Title: @Model.newsTitle</h3>
<div>News Description: @Model.newsDescription</div>
<br />

<a href="/News/Edit/@Model.newsID">Update News</a>
<br />
<br />
<a href="/News/DeleteConfirm/@Model.newsID">Delete News</a>
